<div class="add-item-container">
  <label for="itemName">Nuevo Elemento:</label>
  <input type="text" id="itemName" [(ngModel)]="newItemName" name="itemName" required>
  <button (click)="addItem()">Agregar</button>
</div>